/** {*/
    /*margin:0px;*/
    /*padding:0px;*/
/*}*/

.main-content{
    padding: 16px;
}

.center-container{
    margin: auto;
    width: 50%;
}

.year {
    color: black;
}
.title {
    color: black;
    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
    font-size: large;
}

.movie-details {
    margin: 10px;
    padding: 10px;
}

.movieTitle{
    text-align: center;
}

.movie-link{
    color: black
}

.movie-list-year{
    position: absolute;
    right: 2px;
    top: 0px;
}
.movieInfo{
    margin-left: 10px;
    /*position: relative;*/
    /*float: right;*/
    /*width: 100%;*/
}

.info-and-img-div{
    display: flex;
    /*align-items: center;*/
    /*justify-content: space-between;*/
    padding: 20px 0;
    position: relative;
}

.inline-div{
    display: inline-block;
}

.list-group-item{
    background: lightgrey;
}
.copyright {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 30px;
    background: rgba(3,3,7,0.77);
    width: 100%;
}
copyright-text {
    color: blueviolet;
}

.categories-elem-inline {
    display: inline-block;
}

.top-line-div{
    flex: auto;
    position: relative;
}

body{
    background: lightgrey;
    margin-bottom: 50px;

}
.list-group{
    width:50%;
}

.mb-1 {
    position: absolute;
    left: 10px;
}

.movie-list-director {
    position: absolute;
    left: 10px;
    bottom: 4px;
}

.imdb-rating-container{
    position: absolute;
    right:10px;
    bottom: 4px;
}

.list-img{
    top: 0;
    left: 0;
    height: 5em;
    width: 4em;
    padding: 5px;
}

.dropdown-menu{
    background: lightgrey;
}


ul.nav li.dropdown:hover ul.dropdown-menu { display: block; }

.errorMessage{
    padding: 10px;
}

/*Carousel item*/
.carousel-item {
    position: relative;
    text-aligin: center;
    /*color: white;*/
    width: 100%;
}

.title-movie-carousel{
    background: dimgrey;
    opacity: 0.7;
}

.dark-background{
    background: rgba(7,7,6,0.16)
}

.center {
    /*display: block;*/
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

.login-form-container{
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 50px;
    margin-left: 20%;
    margin-right: 20%;
}

.form-error{
    color: red;
    background: rgba(221,155,199,0.77);
}