<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Movies</title>
    <link rel="stylesheet"
          type="text/css"
          href="http://cdn.jsdelivr.net/webjars/bootstrap/4.1.3/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}">
    <link rel="stylesheet"
          type="text/css"
          th:href="@{/css/style.css}">

</head>
<body>
    <div id="header" th:include="base :: header"></div>
    <h2 th:text="${messageProper}"></h2>


    <div class="list-group">
        <div th:each="movie : ${moviesByProperty}" class="list-group-item list-group-item-action flex-column align-items-start ">
            <a th:href="@{'/movies/'+${movie.id}}" class="movie-link">
                <div class="d-flex w-100 justify-content-between">
                    <img th:src="${movie.posterUrl}" th:onerror="'this.src=\'' + @{/images/image_not_found.jpg} + '\';'" class="img-fluid rounded float-left list-img" />
                    <div  class="top-line-div">
                        <div >
                            <h5 class="mb-1" th:text="${movie.title}">Movie title</h5>
                            <small class="movie-list-year" th:text="${movie.year}">movie year</small>
                        </div>

                        <div class="movie-list-director">
                            <span>Director: </span>
                            <span th:text="${movie.director}">movie director</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div th:include="base :: copy" class="copyright"></div>

    <script type="text/javascript" th:src="@{/webjars/jquery/3.3.1-1/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/script.js}"></script>

</body>
</html>