<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Movies</title>
    <link rel="stylesheet"
          type="text/css"
          href="http://cdn.jsdelivr.net/webjars/bootstrap/4.1.3/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}">
    <link rel="stylesheet"
          type="text/css"
          th:href="@{/css/style.css}">
</head>

<body>
    <div id="header" th:include="base :: header"></div>
    <div class="movie-details">
        <h2 th:text="${movie.title}" class="movieTitle">Title</h2>
        <div class="info-and-img-div">
            <div class="inline-div">
                <img th:src="${movie.posterUrl}" th:onerror="'this.src=\'' + @{/images/image_not_found.jpg} + '\';'"/>
            </div>
            <div class="inline-div info-margin">
                <span>Year: </span><span th:text="${movie.year}">year</span><br/>
                <span>Rated: </span></span> <span th:text="${movie.rated}">rated</span><br/>
                <div th:if="${movie.runtime}">
                    <span>Runtime: </span> <span th:text="${movie.runtime}">runtime</span>
                </div>

                <div th:if="${movie.countries}">
                    <span>Countries: </span>
                    <div th:each="country, iter : ${movie.countries}" class="inline-div">
                        <a th:href="@{'/movies/sameCountry/'+${country}}">
                            <span th:text="${country}" class="categories-elem-inline " ></span>
                        </a>
                        <span th:if="${iter.index != (#lists.size(movie.countries)-1)}" >, </span>
                    </div>
                </div>
                <div th:if="${movie.genres}">
                    <span>Genres: </span>
                    <div th:each="genre,iter : ${movie.genres}" class="inline-div">
                        <a th:href="@{'/movies/sameGenre/'+${genre}}">
                            <span th:text="${genre}" class="categories-elem-inline " ></span>
                        </a>
                        <span th:if="${iter.index != (#lists.size(movie.genres)-1)}" >, </span>
                    </div>
                </div>
                <div th:if="${movie.director}">
                    <span>Director: </span>
                    <a th:href="@{'/movies/sameDirector/'+${movie.director}}">
                        <span th:text="${movie.director}"></span>
                    </a>
                </div>
                <div th:if="${movie.writers}">
                    <span>Writers: </span>
                    <div th:each="writer,iter : ${movie.writers}" class="inline-div">
                        <a th:href="@{'/movies/sameWriter/'+${writer}}">
                            <span th:text="${writer}" class="categories-elem-inline " ></span>
                        </a>
                        <span th:if="${iter.index != (#lists.size(movie.writers)-1)}" >, </span>
                    </div>
                </div>
                <div th:if="${movie.actors}">
                    <span>Actors: </span>
                    <div th:each="actor,iter : ${movie.actors}" class="inline-div">
                        <a th:href="@{'/movies/sameActor/'+${actor}}">
                            <span th:text="${actor}" class="categories-elem-inline " ></span>
                        </a>
                        <span th:if="${iter.index != (#lists.size(movie.actors)-1)}" >, </span>
                    </div>
                </div>
                <div th:if="${movie.metacritic}">
                    <span>Metacritic: </span> <span th:text="${movie.metacritic}"></span>
                </div>
                <div th:if="${movie.imdb} and ${movie.imdb.rating}">
                    <span>IMDB: </span> <span th:text="${movie.imdb.rating}"></span>
                </div>
                <div th:if="${movie.tomato}">
                    <span>Tomato meter: </span> <span th:text="${movie.tomato.meter+'%'}"></span>
                </div>
            </div>
        </div>
        <h1>Plot</h1>
        <span th:text="${movie.plot}"></span><br/>
        <div class="comment-container" >
            <h3 th:text="#{comments.header}">Comments</h3>
            <div sec:authorize="isAuthenticated()">
                <form action="#" th:action="@{'/movies/'+${movie.id}}" th:object="${formComment}" method="post">
                    <!--<h3 th:text="#{comment.form.write}">Leave your comment</h3>-->
                    <ul th:if="${#fields.hasErrors('*')}" class="form-error">
                        <li th:each="err : ${#fields.errors('*')}" th:text="${err}" >Input is incorrect</li>
                    </ul>
                    <!--<div class="form-group">-->
                        <!--<input th:field="*{message}" class="form-control input-comment">-->
                        <!--<p th:each="error : ${#fields.errors('id')}" th:text="${error}">Validation error</p>-->
                    <!--</div>-->
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span th:text="#{comment.form.write}" class="input-group-text">With textarea</span>
                        </div>
                        <textarea th:field="*{message}" class="form-control" aria-label="With textarea" />
                    </div>

                    <button type="submit" class="btn btn-primary" th:text="#{comment.button}">submit</button>
                </form>
            </div>
            <div th:if="${movie.comments ne null and #lists.size(movie.comments) ne 0}">
                <div class="comment-element" th:each="comment : ${movie.comments}">
                    <div class="comment-id">
                        <span th:text="${comment.user.username}"></span>
                    </div>
                    <div >
                        <img th:src="@{/images/default_profile_image.png}" class="comment-img"/>
                    </div>
                    <div class="comment-date">
                        <span th:text="${comment.creationDate}" ></span>
                    </div>
                    <div class="comment-message">
                        <span th:text="${comment.message}" class="comment-message-text"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:include="base :: copy" class="copyright"></div>

    <script type="text/javascript" th:src="@{/webjars/jquery/3.3.1-1/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/script.js}"></script>
</body>
</html>