<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Movies</title>
    <link rel="stylesheet"
          type="text/css"
          href="http://cdn.jsdelivr.net/webjars/bootstrap/4.1.3/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}">
    <link rel="stylesheet"
          type="text/css"
          th:href="@{/css/style.css}">
</head>
    <div id="header" th:include="base :: header"></div>
    <div class="register-form-container">
        <form action="#" th:action="@{/user/register}" th:object="${user}" method="post">
            <ul th:if="${#fields.hasErrors('*')}" class="form-error">
                <li th:each="err : ${#fields.errors('*')}" th:text="${err}" >Input is incorrect</li>
            </ul>
            <div th:if="${errorMessage}" class="form-error">
                <span th:text="${errorMessage}"></span>
            </div>
            <div class="form-group">
                <label th:text="#{register.id}">id</label>
                <input th:field="*{username}" class="form-control">
                <!--<p th:each="error : ${#fields.errors('id')}" th:text="${error}">Validation error</p>-->
            </div>
            <div class="form-group">
                <label th:text="#{register.email}">email</label>
                <input th:field="*{email}" class="form-control">
                <!--<p th:each="error : ${#fields.errors('email')}" th:text="${error}">Validation error</p>-->
            </div>
            <div class="form-group">
                <label th:text="#{register.password}">password</label>
                <input type="password" th:field="*{password}" class="form-control">
                <!--<p th:each="error : ${#fields.errors('password')}" th:text="${error}">Validation error</p>-->
            </div>
            <div class="form-group">
                <label th:text="#{register.password.confirm}" >confirm password</label>
                <input type="password" th:field="*{matchingPassword}" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary" th:text="#{register.submit}">submit</button>
        </form>
        <a th:href="@{/login}" th:text="#{loginLink}">Login</a>
    </div>
    <div th:include="base :: copy" class="copyright"></div>

    <script type="text/javascript" th:src="@{/webjars/jquery/3.3.1-1/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/script.js}"></script>
</body>
</html>